* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F9F5E6;
  text-align: start;
}

/* Reset CSS */

a {
  outline: none;
  color: inherit; 
  text-decoration: none;
}

/* form의 속성들은 body에 font를 지정해도 
font가 안먹기 때문에 따로 font를 설정해줘야한다  */
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
  outline: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.666666666666667;
  
}

/* mobile */



/* navar menu */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navar__menu--list {
  display: flex;
}

.navar__menu--item {
  padding: 8px 10px;
  margin: 0px 12px;
}

/* choicice page */

#choice {
  margin-bottom: 32px ;
  margin: 0 16px;
}

.choice--title h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333333333333333;
  margin: 60px 0 16px 0;
}

.choice--desc {
  margin-bottom: 32px;
}

.choice--btn button {
  width: 161px;
  height: 46px;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: #3B2186;
  padding: 14px 40px;
  margin-bottom: 60px;
}

.customers__landing--page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  padding-right: 17.31px;
}
.customers__page {
  margin: 0 16px;
}

.customers__landing--title h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  
}




/* > 768px (Desktop)   */

@media screen and (min-width: 768px) {
  
}

<i class="fa-solid fa-address-card"></i>
<i class="fa-solid fa-qrcode"></i>
<i class="fa-solid fa-globe"></i>
<i class="fa-solid fa-sack-dollar"></i>